.Projects {
  background: linear-gradient(160deg, rgb(17, 17, 16) 0%, rgb(43, 41, 41) 100%);
  width: 100%;
  position: absolute;

  .projectsContainer {
    // border: 4px solid red;
    padding: 50px 0 50px 0;
    width: 90%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;

    .my-projects {
      // border: 3px solid green;
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      grid-gap: 25px;
      text-align: center;

      .project {
        border: 2px solid #dec79b;
        padding: 20px;
        margin-top: 20px;
        color: #fff;

        h6 {
          font-size: 15px;
          color: #d3d3d3;
          margin-bottom: 10px;
        }

        img {
          width: 80%;
        }

        h2 {
          color: #dec79b;
          margin: 10px 0 15px 0;
        }

        .cta {
          display: inline-block;
          margin-top: 20px;
          font-size: 20px;
          text-transform: uppercase;
          color: #d3d3d3;
          transition: color 650ms;
          margin-right: 10px;

          &:hover {
            color: #dec79b;
          }
        }

        .github {
          color: #7e7e7e;

          &:hover {
            color: #d3b47c;
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .Projects {
    .projectsContainer {
      .my-projects {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      }
    }
  }
}
