.Skills {
  background: linear-gradient(160deg, rgb(17, 17, 16) 0%, rgb(43, 41, 41) 100%);
  color: #fff;
  width: 100%;
  //   position: absolute;

  .skills-container {
    // border: 4px solid red;
    padding: 120px 0 50px 0;
    width: 90%;
    margin: 0 auto;
    // margin: 150px auto 100px auto;
    font-family: 'Roboto', sans-serif;

    .section-heading {
      margin: 0 auto;

      h2 {
        font-size: 25px;
      }
    }

    .my-skills {
      // border: 4px solid green;
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 25px;
      text-align: center;

      .skill {
        // border: 1px solid blue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;

        .icon-container {
          img {
            width: 100px;
            height: 100px;
          }
        }

        h2 {
          text-transform: uppercase;
          font-size: 18px;
          letter-spacing: 3px;
          margin: 20px -2px 20px 0;
          color: #fff;
        }

        p {
          color: #d3d3d3;
        }

        &:hover {
          -webkit-box-shadow: 0px 0px 10px 1px rgba(199, 169, 113, 1);
          -moz-box-shadow: 0px 0px 10px 1px rgba(199, 169, 113, 1);
          box-shadow: 0px 0px 10px 1px rgba(199, 169, 113, 1);
        }
      }
    }

    a {
      margin-top: 20px;
      float: right;
      font-size: 12px;
      color: gray;
    }
  }
}

@media (min-width: 1300px) {
  .Skills {
    height: 100vh;
  }
}

@media (max-width: 900px) {
  .Skills {
    .skills-container {
      .my-skills {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        .skill {
          .icon-container {
            img {
              width: 60px;
              height: 60px;
            }
          }

          h2 {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media (max-width: 440px) {
  .Skills {
    .skills-container {
      .my-skills {
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
      }
    }
  }
}

@media (max-width: 400px) {
  .Skills {
    .skills-container {
      .my-skills {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      }
    }
  }
}
