.About {
  background: linear-gradient(160deg, rgb(17, 17, 16) 0%, rgb(43, 41, 41) 100%);
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .aboutContainer {
    .blobBox {
      position: absolute;
      bottom: 10%;
      left: -10%;
      width: 50vw;
      transform: rotate(-20deg);
    }

    .waveBox {
      // border: 2px solid white;
      transform: scaleX(-1);
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
    }

    .contentBox {
      // border: 3px solid red;
      display: flex;
      width: 90vw;
      align-items: center;
      justify-content: space-between;
      margin-top: 40px;
      padding: 50px;
      color: #fff;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -70%);

      h2 {
        font-size: 35px;
        letter-spacing: 1px;
        margin-bottom: 30px;
      }

      .leftContent {
        // border: 2px solid green;
        width: 50%;
        user-select: none;

        .about-details {
          text-align: center;
          // display: flex;
          // flex-direction: column;
          // align-items: center;

          .about-heading {
            text-align: center;
            text-transform: uppercase;
            line-height: 0;
            margin-bottom: 80px;

            h1 {
              font-size: 80px;
              color: #c7a971;
              opacity: 0.3;
            }

            h6 {
              font-size: 33px;
              font-weight: 300;
              color: #dec79b;
            }
          }

          p {
            color: #fff;
            font-size: 20px;
            text-align: center;
            margin-bottom: 40px;
          }

          // CV BUTTON
          .btnContent {
            font-weight: bold;
            margin-top: 40px;
            font-size: 18px;
            padding: 20px 50px;
            border-radius: 30px;
            color: #fff;
            border: none;
            width: 250px;
            margin: 0px auto;

            a {
              color: #fff;
            }

            background: linear-gradient(
              160deg,
              rgba(199, 169, 113, 1) 0%,
              rgba(222, 199, 155, 1) 100%
            );

            transition: 0.3s;

            &:hover {
              cursor: pointer;
              opacity: 0.8;
            }
          }
        }
      }

      .rightContent {
        // border: 2px solid yellow;
        width: 45%;

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

#leaf1 {
  animation: load 5s infinite;
}

#leaf2 {
  animation: load 5s infinite;
  animation-delay: 0.4s;
}

#leaf3 {
  animation: load 5s infinite;
  animation-delay: 0.8s;
}

#leaf4 {
  animation: load 5s infinite;
  animation-delay: 1.2s;
}

#leaf5 {
  animation: load 5s infinite;
  animation-delay: 1.6s;
}

#circle1 {
  animation: load 3s infinite;
  fill: #dec79b;
}
#circle2 {
  animation: load 3s infinite;
  animation-delay: 0.8s;
  fill: #dec79b;
}
#circle3 {
  animation: load 3s infinite;
  animation-delay: 1.6s;
  fill: #dec79b;
}

@keyframes load {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes circleAnim2 {
  0% {
    fill: transparent;
  }
  100% {
    fill: #dec79b;
  }
}

#man {
  animation: man 2s linear infinite alternate;
}

@keyframes man {
  0% {
    transform: translateX(0px) translateY(0px);
  }
  100% {
    transform: translateX(-13px) translateY(-26px);
  }
}

@media (max-width: 1000px) {
  .About {
    .aboutContainer {
      .blobBox {
        bottom: 35%;
        left: -10%;
        width: 50vw;
      }

      .contentBox {
        .leftContent {
          .about-details {
            .about-heading {
              h1 {
                font-size: 60px;
              }

              h6 {
                font-size: 30px;
              }
            }
            p {
              font-size: 19px;
              margin-bottom: 30px;
            }

            //CV BUTTON
            .btnContent {
              font-size: 17px;
              width: 220px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 720px) {
  .About {
    .aboutContainer {
      .blobBox {
        opacity: 0;
      }

      .contentBox {
        margin-top: 130px;
        padding: 10px;
        flex-direction: column-reverse;

        .leftContent {

          .about-details {
            .about-heading {
              margin-bottom: 50px;

              h1 {
                font-size: 60px;
              }

              h6 {
                font-size: 28px;
              }
            }
            p {
              font-size: 17px;
              margin-bottom: 20px;
            }

            //CV BUTTON
            .btnContent {
              font-size: 16px;
              padding: 15px;
              width: 150px;
            }
          }
        }

        .rightContent {
          margin-top: 25px;
          margin-right: 30px;
          width: 80%;

          svg {
            width: 80%;
          }
        }
      }
    }
  }
}

@media (max-height: 550px) {
  .About {
    .aboutContainer {
      .contentBox {
        margin-top: 70px;
        .rightContent {
          svg {
            display: none;
          }
        }
      }
    }
  }
}
