.Contact {
  background: linear-gradient(160deg, rgb(17, 17, 16) 0%, rgb(43, 41, 41) 100%);
  position: absolute;
  width: 100%;
  height: 100vh;

  .contactContainer {
    .waveBox {
      // border: 2px solid white;
      transform: scaleX(-1);
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 100%;
    }

    .contentBox {
      // border: 3px solid red;
      display: flex;
      width: 90vw;
      align-items: center;
      justify-content: space-between;
      margin-top: 40px;
      padding: 50px;
      color: #fff;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -70%);

      .leftContent {
        // border: 2px solid green;
        width: 50%;

        .container {
          #contactForm {
            h3 {
              margin-bottom: 20px;
            }
          }
        }
      }

      .rightContent {
        // border: 2px solid yellow;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;

        .info {
          width: fit-content;
          display: flex;
          align-items: flex-start;
          flex-direction: column;

          .info-row {
            margin-bottom: 15px;
            font-size: 21px;

            i {
              margin-right: 15px;
            }
          }
        }

        svg {
          width: 90%;
          height: 90%;
        }
      }
    }
  }
}

@media (max-height: 750px) {
  .Contact {
    .contactContainer {
      .contentBox {
        margin-top: 100px;
      }
    }
  }
}

@media (max-width: 720px) {
  .Contact {
    .contactContainer {
      .contentBox {
        flex-direction: column-reverse;
        margin-top: 110px;
        padding: 10px;

        .leftContent {
          width: 100%;

          .container {
            max-width: 100%;

            #contactForm {
              padding: 10px;

              input[type='text'],
              input[type='email'],
              input[type='message'],
              textarea {
                font-size: 13px;
              }

              textarea {
                height: 60px;
              }

              h3 {
                margin-bottom: 20px;
                font-size: 18px;
              }
            }
          }
        }

        .rightContent {
          width: 100%;
          margin-bottom: 10px;

          .info {
            margin-top: 10px;
            margin-bottom: 0px;

            .info-row {
              font-size: 19px;
            }
          }

          svg {
            width: 70%;
            height: 70%;
          }
        }
      }
    }
  }
}

@media (max-width: 460px) {
  .Contact {
    .contactContainer {
      .waveBox {
        opacity: 0;
      }
      .contentBox {
        padding: 0px;

        .leftContent {
          .container {
            #contactForm {
              padding: 10px;

              input[type='text'],
              input[type='email'],
              input[type='message'],
              textarea {
                font-size: 10px;
              }

              textarea {
                height: 50px;
              }

              h3 {
                margin-bottom: 15px;
                font-size: 16px;
              }
            }
          }
        }

        .rightContent {
          .info {
            .info-row {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

//Contact Form

.container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contactForm input[type='text'],
#contactForm input[type='email'],
#contactForm input[type='message'],
#contactForm textarea,
#contactForm button[type='submit'] {
  font-family: 'Roboto', sans-serif;
}

#contactForm {
  background: #343334;
  padding: 25px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 10px;
}

#contactForm h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contactForm h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
  textarea {
    font-family: 'Roboto', sans-serif;
  }
}

#contactForm input[type='text'],
#contactForm input[type='email'],
#contactForm input[type='message'],
#contactForm textarea {
  width: 100%;
  border: 1px solid #fff;
  background: #ccc;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 16px;
}

#contactForm input[type='text']:hover,
#contactForm input[type='email']:hover,
#contactForm input[type='message'],
#contactForm textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contactForm textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contactForm button[type='submit'] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #c7a971;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contactForm button[type='submit']:hover {
  background: rgba(173, 146, 96, 0.842);
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contactForm button[type='submit']:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contactForm input:focus,
#contactForm textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

// Animations
#phone {
  animation: phone 0.5s infinite alternate;
}

@keyframes phone {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

#mail {
  animation: mail 3s linear infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes mail {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.1);
  }
}

#navigator {
  animation: navigator 2s linear infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes navigator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-50deg);
  }
}

#cloud1 {
  animation: cloud1 4s linear infinite alternate;
}

#cloud2 {
  animation: cloud2 6s linear infinite alternate;
}

#cloud3 {
  animation: cloud3 8s linear infinite alternate;
}

@keyframes cloud1 {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(100px);
  }
}

@keyframes cloud2 {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-150px);
  }
}

@keyframes cloud3 {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-90px);
  }
  100% {
    transform: translateX(50px);
  }
}
