$colors: (
  primary: rgb(224, 222, 212),
  accent: rgb(242, 172, 50),
  accent-light: rgb(201, 147, 56),
);

@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin tablet-mini {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 420px) {
    @content;
  }
}

nav.sticky {
  padding: 10px 0;
  background: rgba(0, 0, 0, 1);
}

nav {
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  z-index: 1000;
  flex-wrap: wrap;

  .logo {
    transition: 0.6s;
    color: rgb(255, 255, 255);
    letter-spacing: 5px;
    -webkit-text-stroke-width: 2px;
    font-size: 40px;
    margin-left: 20px;

    @include mobile {
      font-size: 30px;
    }
  }

  .langBtn {
    padding: 2px;
    background-color: rgba(199, 169, 113, 1);
    border: none;
    margin: 0 10px;
    cursor: pointer;

    &:focus {
      outline: 0;
    }

    &:hover {
      background-color: rgba(199, 169, 113, 0.7);
    }
  }

  @include mobile {
    padding: 10px 0;
  }

  /** ANIMATION MENU BAR  */

  .menu-bar {
    margin-top: 13px;
  }

  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }

  .change #bar2 {
    opacity: 0;
  }

  .change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
  }

  #bar1 {
    transform: translateY(-4px);
  }

  #bar3 {
    transform: translateY(4px);
  }

  /** START HAMBURGER MENU  */

  #menu {
    width: 35px;
    height: 30px;
    margin: 0 20px 0 20px;
    cursor: pointer;
    display: none;

    @include tablet {
      display: block;
    }

    .bar {
      height: 5px;
      width: 100%;
      background-color: #fff;
      display: block;
      border-radius: 5px;
      transition: 0.3s ease;
    }

    .change {
      display: block;
    }
  }

  /** END HAMBURGER MENU  */

  .nav-ul {
    color: rgb(255, 255, 255);
    list-style: none;

    @include tablet {
      display: none;
    }

    li {
      display: inline-block;
      font-size: 16px;
      text-transform: uppercase;
      font-family: Oswald, sans-serif;
      margin-right: 10px;

      a {
        font-family: 'Roboto', sans-serif;
        color: #dec79b;
        padding: 0px 10px;
        transition: all 0.2s ease-in-out;
        font-size: 18px;

        &:hover {
          color: color(accent);
          cursor: pointer;
        }
      }

      .search {
        margin-left: 20px;
        margin-right: 25px;
      }

      .my-bag {
        font-size: 25px;
        margin-right: 10px;

        @include tablet {
          margin-top: 5px;
        }
      }
    }
  }

  .nav-ul.change {
    @include tablet {
      display: block;
      background-color: rgba(0, 0, 0, 1);
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 20px 0;

      li,
      button {
        margin-bottom: 35px;
        font-size: 18px;

        @include mobile {
          font-size: 16px;
        }

        &:first-child {
          margin-top: 30px;
        }
      }
    }
  }
}

/** STICKY NAV */

.to-top {
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: rgb(31, 31, 31);
  opacity: 0;
  pointer-events: none;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.4s ease 0s;

  i {
    @include mobile {
      font-size: 30px;
    }
  }

  @include mobile {
    width: 40px;
    height: 40px;
  }
}
