.App {
  text-align: center;
}

/* exiting */
.page-exit {
  opacity: 1;
}

/* exited */
.page-exit-active {
  opacity: 0;
  transition: opacity 1s;
}

/* entering */
.page-enter {
  /* opacity: 0; */
}

/* entered */
.page-enter-active {
  /* opacity: 1; */
  /* transition: opacity 0.5s; */
  /* transition-delay: 2s; */
}
